* {
  box-sizing: border-box;
  /*   border: 2px dashed blue; */
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 120%;
}
body > * {
  padding: 1rem;
}
header {
  margin: 0;
  padding: 1em;
  background-color: #7fb06f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid black;
}
header h1 {
  margin: 0;
  margin-top: 0.4em;
  padding: 0;
}
.header-is-loggedin-box {
  display: flex;
}
.auth-user {
  display: flex;
  flex-direction: row;
}
.auth-input {
  display: flex;
  flex-direction: column;
  font-size: 100%;
}
.auth-input input {
  border-radius: 0.2em;
  margin: 0.1em;
}

.auth-button {
  font-size: 100%;
  margin: 1em;
  background-color: lightgray;
  height: 1.8em;
  border-radius: 0.2em;
  padding: 0.4em 1.5em;
}

button {
  border: none;
}
button:hover:enabled {
  opacity: 80%;
}
input {
  padding: 0.2em;
  font-size: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  padding: 0em;
  background: #a1cf91;
}
main > * {
  flex-grow: 1;
}
.channels {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  min-width: 220px;
  border-right: 6px solid green;
}
.sub-header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid green;
}

.sub-header h3 {
  font-size: 150%;
  text-decoration: underline;
  margin: 1rem;
}

.channels-list {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}
.channels-list li {
  background-color: #7fb06f;
  margin: 1rem;
  border-radius: 0.5em;
}
.channels-item-box {
  display: flex;
  justify-content: space-between;
}
.channels-item-box span {
  padding: 0.7em;
}

.channels-item-box .locked-status {
  margin-right: 0.5em;
  padding: 0.4em;
}
.new-chat {
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-top: 0.5em;
  padding: 0.2em;
}
.new-chat-input {
  border-radius: 0.3em;
  margin-top: 0.3em;
}
.new-chat button {
  flex-grow: 1;
  font-size: 100%;
  border-radius: 0.3em;
  padding: 0.4em 1.5em;
  margin-top: 0.3em;
}

.chat {
  display: flex;
  flex-direction: column;
}
.chat-message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1em;
  margin-bottom: 0.5em;
  padding: 1em;
  padding-bottom: 0.3em;
  border: 2px solid green;
  border-radius: 0.5em;
  height: calc(100vh - 300px);
  overflow: scroll;
}
.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 0.7em;
  padding: 0;
  background-color: #7fb06f;
  border-radius: 0.5em;
}
.message p {
  margin: 0;
}
.messagebox-left {
  flex-grow: 1;
}
.message-info {
  padding: 0.2em 0.3em 0em 0.3em;
  font-size: 75%;
  display: flex;
}
.message-user {
  padding-right: 1em;
}
.message-main {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.5em 0.5em 0.5em;
}
.messagebox-right {
  width: 140px;
  padding: 0.71em 0.5em 0.71em 0.3em;
}
.messagebox-right div {
  width: 140px;
}

.messagebox-right button {
  font-size: 70%;
  border-radius: 0.3em;
  padding: 0.4em 1em;
  background-color: #a1cf91;
}
.messagebox-right-edit {
  margin-right: 0.4em;
}

.chat-input {
  display: flex;
  margin: 1em;
  margin-top: 0.5em;
  padding: 0.2em;
}

.chat-input input {
  flex-grow: 1;
  border-radius: 0.3em;
}
.chat-input button {
  font-size: 100%;
  border-radius: 0.3em;
  padding: 0.4em 1.5em;
  margin-left: 0.4em;
}

.hide {
  display: none;
}
